
.card {
    border: none;
    border-radius: 20px;
    transition: all 0.5s;
    cursor: pointer
}

.card:hover {
    transform: scale(1.1)
}

.heading {
    font-size: 32px;
    font-weight: bold;
    text-align: center
}

.name {
    font-size: 15px;
    font-weight: bold
}

.email {
    font-size: 14px;
    margin-left: 25px;
    font-weight: bold
}

.dummytext {
    font-size: 12px;
    font-weight: normal;
    color: #848590
}

.icons i {
    color: #FA222A;
    margin-left: 25px
}

.icons span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.icons1 i {
    color: #497eea;
    margin-left: 25px
}

.icons1 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}


.icons2 i {
    color: #ffc227;
    margin-left: 25px
}

.icons2 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.icons5 i {
    color: #41cfff;
    margin-left: 25px
}

.icons5 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.icons4 i {
    color: #6a35ff;
    margin-left: 25px
}

.icons4 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

.icons3 i {
    color: #ff8339;
    margin-left: 25px
}

.icons3 span {
    font-size: 13px;
    font-weight: normal;
    color: #848590
}

header {
    position: relative;
    background-color: black;
    height: 75vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://images.unsplash.com/photo-1532186773960-85649e5cb70b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }
  
  @import url(https://fonts.googleapis.com/css?family=Lato);
  @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
  

  
  a {
      text-decoration: none;
      color: #fff;
  }
  p > a:hover{
      color: #d9d9d9;
      text-decoration:  underline;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      margin:  1% 0 1% 0;
  }
  ._12 {
      font-size: 1.2em;
  }
  ._14 {
      font-size: 1.4em;
  }
  ul {
      padding:0;
      list-style: none;
  }
  .footer-social-icons {
      width: 350px;
      display:block;
      margin: 0 auto;
  }
  .social-icon {
      color: #fff;
  }
  ul.social-icons {
      margin-top: 10px;
  }
  .social-icons li {
      vertical-align: top;
      display: inline;
      height: 100px;
  }
  .social-icons a {
      color: #fff;
      text-decoration: none;
  }
  .fa-facebook {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-facebook:hover {
      background-color: #3d5b99;
  }
  .fa-twitter {
      padding:10px 12px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-twitter:hover {
      background-color: #00aced;
  }
  .fa-instagram {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-instagram:hover {
      background-color: #eb8231;
  }
  .fa-youtube {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-youtube:hover {
      background-color: #e64a41;
  }
  .fa-linkedin {
      padding:10px 14px;
      -o-transition:.5s;
      -ms-transition:.5s;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition: .5s;
      background-color: #322f30;
  }
  .fa-linkedin:hover {
      background-color: #0073a4;
  }
  

   
   
   
   
   
 
 
 
 